<br>
{{> encabezado}}
<br>
<h1>Este es el ranking de puntuaciones</h1>
<br>
<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Nickname</th>
      <th scope="col">Enemigos eliminados</th>
      <th scope="col">Cantidad de disparos mágicos</th>
      <th scope="col">Cantidad de disparos</th>
      <th scope="col">Mejor tiempo</th>
    </tr>
  </thead>
  <tbody>
    {{#each ranking}}
    <tr>
      
      <td>{{this.nickname}}</td>
      <td>{{this.n_muertes}}</td>
      <td>{{this.n_disparo_magia}}</td>
      <td>{{this.n_disparo_arma}}</td>
      <td>{{this.tiempo}}</td>

    </tr>
    {{/each}}
  </tbody>
</table>
